pipeline/2_orch_napp_napp_task.json
{
	"name": "2_orch_napp_napp_task",
	"properties": {
		"activities": [
			{
				"name": "onn_task_log_execution_start",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[audit].[usp_log_adf_pipeline_execution_start]",
						"storedProcedureParameters": {
							"adf_pipeline_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"batch_id": {
								"type": "Int32",
								"value": {
									"value": "@int(pipeline().parameters.batch_id)",
									"type": "Expression"
								}
							},
							"parent_run_id": {
								"type": "Guid",
								"value": null
							},
							"pipeline_execution_starttime": {
								"type": "DateTime",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							},
							"pipeline_parameters": {
								"type": "String",
								"value": {
									"value": "@concat(string(pipeline().parameters.batch_id),'|',string(pipeline().parameters.phase_id),'|',string(pipeline().parameters.source_type_id),'|',string(pipeline().parameters.source_type_name),'|',string(pipeline().parameters.source_type_priority),'|',string(pipeline().parameters.task_priority))",
									"type": "Expression"
								}
							},
							"run_id": {
								"type": "Guid",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					}
				}
			},
			{
				"name": "onn_taskr_foreach_phase_source_type_Task_Group1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "onn_task_get_tasks_group1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('onn_task_get_tasks_group1').output.Value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 30,
					"activities": [
						{
							"name": "onn_task_split_task_group1",
							"description": "Switch activity to split task types",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().task_type_name",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "OnPremSqlServerToDeltaTable",
										"activities": [
											{
												"name": "onn_task_CopyOnpremToDeltaLake_group1",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "onn_task_GetConnectionStringSecret_group1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 3,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [
													{
														"name": "batch_task_id",
														"value": "@string(item().batch_task_id)"
													},
													{
														"name": "destination_table",
														"value": "@{split(activity('onn_task_GetConnectionStringSecret_group1').output.firstRow.output_object,'.')[0]}.@{split(activity('onn_task_GetConnectionStringSecret_group1').output.firstRow.output_object,'.')[1]}"
													}
												],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"additionalColumns": [
															{
																"name": "lakeCreatedBatchID",
																"value": {
																	"value": "@pipeline().parameters.batch_id",
																	"type": "Expression"
																}
															}
														],
														"sqlReaderQuery": {
															"value": "@{activity('onn_task_GetConnectionStringSecret_group1').output.firstRow.sql_query}",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureDatabricksDeltaLakeSink",
														"preCopyScript": {
															"value": "Truncate table @{activity('onn_task_GetConnectionStringSecret_group1').output.firstRow.output_object}",
															"type": "Expression"
														},
														"importSettings": {
															"type": "AzureDatabricksDeltaLakeImportCommand"
														}
													},
													"enableStaging": true,
													"enableSkipIncompatibleRow": false
												}
											},
											{
												"name": "onn_task_GetConnectionStringSecret_group1",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "onn_task_log_task_start_copyOnPremToDeltaLakeend_group1",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[config].[usp_get_object_connectionStringDetails]",
														"storedProcedureParameters": {
															"batch_task_id": {
																"type": "Int32",
																"value": {
																	"value": "@item().batch_task_id",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													}
												}
											},
											{
												"name": "onn_task_log_task_copyOnPremToDeltaLakeend_group1",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "onn_task_CopyOnpremToDeltaLake_group1",
														"dependencyConditions": [
															"Completed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[audit].[usp_log_sql_task_end]",
													"storedProcedureParameters": {
														"batch_task_id": {
															"value": {
																"value": "@item().batch_task_id",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"batch_task_reject_rows": {
															"value": {
																"value": "@sub(activity('onn_task_CopyOnpremToDeltaLake_group1').output.rowsRead,activity('onn_task_CopyOnpremToDeltaLake_group1').output.rowsCopied)",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"batch_task_result": {
															"value": {
																"value": "@activity('onn_task_CopyOnpremToDeltaLake_group1').executionDetails",
																"type": "Expression"
															},
															"type": "String"
														},
														"batch_task_result_location": {
															"value": null,
															"type": "String"
														},
														"batch_task_rows_loaded": {
															"value": {
																"value": "@activity('onn_task_CopyOnpremToDeltaLake_group1').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"batch_task_source_rows": {
															"value": {
																"value": "@activity('onn_task_CopyOnpremToDeltaLake_group1').output.rowsRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"batch_task_status": {
															"value": "completed",
															"type": "String"
														},
														"lake_created_date_time": {
															"value": {
																"value": "@activity('onn_task_GetConnectionStringSecret_group1').output.firstRow.lake_created_date_time\n",
																"type": "Expression"
															},
															"type": "DateTime"
														}
													}
												}
											},
											{
												"name": "onn_task_log_CopyOnPremToDeltaLake_error_group1",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "onn_task_CopyOnpremToDeltaLake_group1",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[audit].[usp_log_error]",
													"storedProcedureParameters": {
														"activity_name": {
															"value": "onn_task_CopyOnpremToDeltaLake_group1",
															"type": "String"
														},
														"adf_pipeline_name": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"batch_id": {
															"value": {
																"value": "@pipeline().parameters.batch_id",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"batch_task_id": {
															"value": {
																"value": "@item().batch_task_id",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"cluster_id": {
															"value": {
																"value": "@activity('onn_task_GetConnectionStringSecret_group1').output.firstRow.cluster_id",
																"type": "Expression"
															},
															"type": "String"
														},
														"error_message": {
															"value": {
																"value": "@activity('onn_task_CopyOnpremToDeltaLake_group1').output.errors[0].Message",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												}
											},
											{
												"name": "onn_task_log_task_start_copyOnPremToDeltaLakeend_group1",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[audit].[usp_log_task_start]",
													"storedProcedureParameters": {
														"adf_pipeline_run_id": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "Guid"
														},
														"batch_task_id": {
															"value": {
																"value": "@item().batch_task_id",
																"type": "Expression"
															},
															"type": "Int32"
														}
													}
												}
											}
										]
									},
									{
										"value": "MDSSqlServerToDeltaTable",
										"activities": [
											{
												"name": "onn_task_execute_mdsload_group1",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"waitOnCompletion": true,
													"parameters": {
														"batch_task_id": {
															"value": "@item().batch_task_id",
															"type": "Expression"
														},
														"batch_id": {
															"value": "@pipeline().parameters.batch_id",
															"type": "Expression"
														},
														"key_vault": {
															"value": "@pipeline().parameters.key_vault",
															"type": "Expression"
														},
														"resource_id": {
															"value": "@item().resource_id",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "onn_task_dbnotebook_group1",
										"type": "DatabricksNotebook",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 3,
											"retryIntervalInSeconds": 60,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [
											{
												"name": "batch_task_id",
												"value": "@string(item().batch_task_id)"
											},
											{
												"name": "activity_name",
												"value": "@item().activity_name"
											}
										],
										"typeProperties": {
											"notebookPath": {
												"value": "@concat(item().activity_location,item().activity_name)",
												"type": "Expression"
											},
											"baseParameters": {
												"adfPipelineName": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"batchId": {
													"value": "@string(pipeline().parameters.batch_id)",
													"type": "Expression"
												},
												"batchTaskId": {
													"value": "@string(item().batch_task_id)",
													"type": "Expression"
												},
												"clusterId": {
													"value": "@item().cluster_id",
													"type": "Expression"
												},
												"notebookName": {
													"value": "@item().activity_name",
													"type": "Expression"
												},
												"sourceId": {
													"value": "@string(item().source_id)",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "onn_master_log_foreachtask_progress_group1",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "onn_task_dbnotebook_group1",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[audit].[usp_log_adf_pipeline_progress]",
											"storedProcedureParameters": {
												"activity_execution_duration": {
													"value": {
														"value": "@activity('onn_task_dbnotebook_group1').output.executionDuration",
														"type": "Expression"
													},
													"type": "String"
												},
												"activity_name": {
													"value": "trigger_task_pipeline",
													"type": "String"
												},
												"activity_output": {
													"value": {
														"value": "@activity('onn_task_dbnotebook_group1').output.runPageUrl",
														"type": "Expression"
													},
													"type": "String"
												},
												"adf_pipeline_execution_id": {
													"value": {
														"value": "@activity('onn_task_log_execution_start').output.firstRow.pipeline_execution_id",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"batch_id": {
													"value": {
														"value": "@int(pipeline().parameters.batch_id)",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"pipeline_progress_message": {
													"value": "Succeeded",
													"type": "String"
												}
											}
										}
									},
									{
										"name": "onn_task_grp1_foreach_phase_source_log_error",
										"description": "On failure, logs to error log table and marks the corresponding task as failed",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "onn_task_dbnotebook_group1",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[audit].[usp_log_error]",
											"storedProcedureParameters": {
												"adf_pipeline_name": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"batch_id": {
													"value": {
														"value": "@int(variables('batch_id'))",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"batch_task_id": {
													"value": {
														"value": "int(item().batch_task_id)",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"cluster_id": {
													"value": {
														"value": "@item().cluster_id",
														"type": "Expression"
													},
													"type": "String"
												},
												"error_message": {
													"value": {
														"value": "@item().error.Message",
														"type": "Expression"
													},
													"type": "String"
												},
												"activity_name": {
													"value": {
														"value": "@item().activity_name",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "onn_task_get_tasks_group1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "onn_task_prepare_tasks",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[config].[usp_get_tasks]",
						"storedProcedureParameters": {
							"batch_id": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.batch_id",
									"type": "Expression"
								}
							},
							"phase_id": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.phase_id",
									"type": "Expression"
								}
							},
							"processing_group": {
								"type": "Byte",
								"value": {
									"value": "1",
									"type": "Expression"
								}
							},
							"source_type_id": {
								"type": "Byte",
								"value": {
									"value": "@pipeline().parameters.source_type_id",
									"type": "Expression"
								}
							},
							"task_priority": {
								"type": "Byte",
								"value": {
									"value": "@pipeline().parameters.task_priority",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "onn_task_end_pipeline",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "onn_taskr_foreach_phase_source_type_Task_Group1",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "onn_taskr_foreach_phase_source_type_Task_Group2",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "onn_taskr_foreach_phase_source_type_Task_Group3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[audit].[usp_log_adf_pipeline_execution_end]",
					"storedProcedureParameters": {
						"pipeline_execution_id": {
							"value": {
								"value": "@activity('onn_task_log_execution_start').output.firstRow.pipeline_execution_id",
								"type": "Expression"
							},
							"type": "Int32"
						}
					}
				}
			},
			{
				"name": "onn_task_prepare_tasks",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "onn_task_log_execution_start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[config].[usp_prepare_tasks]",
					"storedProcedureParameters": {
						"batch_id": {
							"value": {
								"value": "@pipeline().parameters.batch_id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"phase_id": {
							"value": {
								"value": "@pipeline().parameters.phase_id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"source_type_id": {
							"value": {
								"value": "@pipeline().parameters.source_type_id",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"task_priority": {
							"value": {
								"value": "@pipeline().parameters.task_priority",
								"type": "Expression"
							},
							"type": "Byte"
						},
						"total_processing_groups": {
							"value": "3",
							"type": "Byte"
						}
					}
				}
			},
			{
				"name": "onn_task_get_tasks_group2",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "onn_task_prepare_tasks",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[config].[usp_get_tasks]",
						"storedProcedureParameters": {
							"batch_id": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.batch_id",
									"type": "Expression"
								}
							},
							"phase_id": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.phase_id",
									"type": "Expression"
								}
							},
							"processing_group": {
								"type": "Byte",
								"value": {
									"value": "2",
									"type": "Expression"
								}
							},
							"source_type_id": {
								"type": "Byte",
								"value": {
									"value": "@pipeline().parameters.source_type_id",
									"type": "Expression"
								}
							},
							"task_priority": {
								"type": "Byte",
								"value": {
									"value": "@pipeline().parameters.task_priority",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "onn_taskr_foreach_phase_source_type_Task_Group2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "onn_task_get_tasks_group2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('onn_task_get_tasks_group2').output.Value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 30,
					"activities": [
						{
							"name": "onn_task_split_task_group2",
							"description": "Switch activity to split task types",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().task_type_name",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "OnPremSqlServerToDeltaTable",
										"activities": [
											{
												"name": "onn_task_CopyOnpremToDeltaLake_group2",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "onn_task_GetConnectionStringSecret_group2",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 3,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [
													{
														"name": "batch_task_id",
														"value": "@string(item().batch_task_id)"
													},
													{
														"name": "destination_table",
														"value": "@{split(activity('onn_task_GetConnectionStringSecret_group2').output.firstRow.output_object,'.')[0]}.@{split(activity('onn_task_GetConnectionStringSecret_group2').output.firstRow.output_object,'.')[1]}"
													}
												],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"additionalColumns": [
															{
																"name": "lakeCreatedBatchID",
																"value": {
																	"value": "@pipeline().parameters.batch_id",
																	"type": "Expression"
																}
															}
														],
														"sqlReaderQuery": {
															"value": "@{activity('onn_task_GetConnectionStringSecret_group2').output.firstRow.sql_query}",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureDatabricksDeltaLakeSink",
														"preCopyScript": {
															"value": "Truncate table @{activity('onn_task_GetConnectionStringSecret_group2').output.firstRow.output_object}",
															"type": "Expression"
														},
														"importSettings": {
															"type": "AzureDatabricksDeltaLakeImportCommand"
														}
													},
													"enableStaging": true,
													"enableSkipIncompatibleRow": false
												}
											},
											{
												"name": "onn_task_GetConnectionStringSecret_group2",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "onn_task_log_task_start_copyOnPremToDeltaLakeend_group2",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[config].[usp_get_object_connectionStringDetails]",
														"storedProcedureParameters": {
															"batch_task_id": {
																"type": "Int32",
																"value": {
																	"value": "@item().batch_task_id",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													}
												}
											},
											{
												"name": "onn_task_log_task_copyOnPremToDeltaLake_end_group2",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "onn_task_CopyOnpremToDeltaLake_group2",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[audit].[usp_log_SQL_task_end]",
													"storedProcedureParameters": {
														"batch_task_id": {
															"value": {
																"value": "@item().batch_task_id",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"batch_task_reject_rows": {
															"value": {
																"value": "@sub(activity('onn_task_CopyOnpremToDeltaLake_group2').output.rowsRead,activity('onn_task_CopyOnpremToDeltaLake_group2').output.rowsCopied)",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"batch_task_result": {
															"value": {
																"value": "@activity('onn_task_CopyOnpremToDeltaLake_group2').executionDetails",
																"type": "Expression"
															},
															"type": "String"
														},
														"batch_task_result_location": {
															"value": null,
															"type": "String"
														},
														"batch_task_rows_loaded": {
															"value": {
																"value": "@activity('onn_task_CopyOnpremToDeltaLake_group2').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"batch_task_source_rows": {
															"value": {
																"value": "@activity('onn_task_CopyOnpremToDeltaLake_group2').output.rowsRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"batch_task_status": {
															"value": "completed",
															"type": "String"
														},
														"lake_created_date_time": {
															"value": {
																"value": "@activity('onn_task_GetConnectionStringSecret_group2').output.firstRow.lake_created_date_time",
																"type": "Expression"
															},
															"type": "DateTime"
														}
													}
												}
											},
											{
												"name": "onn_task_log_CopyOnPremToDeltaLake_error_group2",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "onn_task_CopyOnpremToDeltaLake_group2",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[audit].[usp_log_error]",
													"storedProcedureParameters": {
														"activity_name": {
															"value": "onn_task_CopyOnpremToDeltaLake_group1",
															"type": "String"
														},
														"adf_pipeline_name": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"batch_id": {
															"value": {
																"value": "@pipeline().parameters.batch_id",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"batch_task_id": {
															"value": {
																"value": "@item().batch_task_id",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"cluster_id": {
															"value": {
																"value": "@activity('onn_task_GetConnectionStringSecret_group2').output.firstRow.cluster_id",
																"type": "Expression"
															},
															"type": "String"
														},
														"error_message": {
															"value": {
																"value": "@activity('onn_task_CopyOnpremToDeltaLake_group2').output.errors[0].Message",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												}
											},
											{
												"name": "onn_task_log_task_start_copyOnPremToDeltaLakeend_group2",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[audit].[usp_log_task_start]",
													"storedProcedureParameters": {
														"adf_pipeline_run_id": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "Guid"
														},
														"batch_task_id": {
															"value": {
																"value": "@item().batch_task_id",
																"type": "Expression"
															},
															"type": "Int32"
														}
													}
												}
											}
										]
									},
									{
										"value": "MDSSqlServerToDeltaTable",
										"activities": [
											{
												"name": "onn_task_execute_mdsload_group2",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"waitOnCompletion": true,
													"parameters": {
														"batch_task_id": {
															"value": "@item().batch_task_id",
															"type": "Expression"
														},
														"batch_id": {
															"value": "@pipeline().parameters.batch_id",
															"type": "Expression"
														},
														"key_vault": {
															"value": "@pipeline().parameters.key_vault",
															"type": "Expression"
														},
														"resource_id": {
															"value": "@item().resource_id",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "onn_task_dbnotebook_group2",
										"type": "DatabricksNotebook",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 3,
											"retryIntervalInSeconds": 60,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [
											{
												"name": "batch_task_id",
												"value": "@string(item().batch_task_id)"
											},
											{
												"name": "activity_name",
												"value": "@item().activity_name"
											}
										],
										"typeProperties": {
											"notebookPath": {
												"value": "@concat(item().activity_location,item().activity_name)",
												"type": "Expression"
											},
											"baseParameters": {
												"adfPipelineName": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"batchId": {
													"value": "@string(pipeline().parameters.batch_id)",
													"type": "Expression"
												},
												"batchTaskId": {
													"value": "@string(item().batch_task_id)",
													"type": "Expression"
												},
												"clusterId": {
													"value": "@item().cluster_id",
													"type": "Expression"
												},
												"notebookName": {
													"value": "@item().activity_name",
													"type": "Expression"
												},
												"sourceId": {
													"value": "@string(item().source_id)",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "onn_master_log_foreachtask_progress_group2",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "onn_task_dbnotebook_group2",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[audit].[usp_log_adf_pipeline_progress]",
											"storedProcedureParameters": {
												"activity_execution_duration": {
													"value": {
														"value": "@activity('onn_task_dbnotebook_group2').output.executionDuration",
														"type": "Expression"
													},
													"type": "String"
												},
												"activity_name": {
													"value": "trigger_task_pipeline",
													"type": "String"
												},
												"activity_output": {
													"value": {
														"value": "@activity('onn_task_dbnotebook_group2').output.runPageUrl",
														"type": "Expression"
													},
													"type": "String"
												},
												"adf_pipeline_execution_id": {
													"value": {
														"value": "@activity('onn_task_log_execution_start').output.firstRow.pipeline_execution_id",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"batch_id": {
													"value": {
														"value": "@int(variables('batch_id'))",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"pipeline_progress_message": {
													"value": "Succeeded",
													"type": "String"
												}
											}
										}
									},
									{
										"name": "onn_task_grp2_foreach_phase_source_log_error_copy1",
										"description": "On failure, logs to error log table and marks the corresponding task as failed",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "onn_task_dbnotebook_group2",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[audit].[usp_log_error]",
											"storedProcedureParameters": {
												"adf_pipeline_name": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"batch_id": {
													"value": {
														"value": "@int(variables('batch_id'))",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"batch_task_id": {
													"value": {
														"value": "int(item().batch_task_id)",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"cluster_id": {
													"value": {
														"value": "@item().cluster_id",
														"type": "Expression"
													},
													"type": "String"
												},
												"error_message": {
													"value": {
														"value": "@item().error.Message",
														"type": "Expression"
													},
													"type": "String"
												},
												"activity_name": {
													"value": {
														"value": "@item().activity_name",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "onn_task_get_tasks_group3",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "onn_task_prepare_tasks",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[config].[usp_get_tasks]",
						"storedProcedureParameters": {
							"batch_id": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.batch_id",
									"type": "Expression"
								}
							},
							"phase_id": {
								"type": "Int32",
								"value": {
									"value": "@pipeline().parameters.phase_id",
									"type": "Expression"
								}
							},
							"processing_group": {
								"type": "Byte",
								"value": {
									"value": "3",
									"type": "Expression"
								}
							},
							"source_type_id": {
								"type": "Byte",
								"value": {
									"value": "@pipeline().parameters.source_type_id",
									"type": "Expression"
								}
							},
							"task_priority": {
								"type": "Byte",
								"value": {
									"value": "@pipeline().parameters.task_priority",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "onn_taskr_foreach_phase_source_type_Task_Group3",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "onn_task_get_tasks_group3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('onn_task_get_tasks_group3').output.Value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 30,
					"activities": [
						{
							"name": "onn_task_split_task_group3",
							"description": "Switch activity to split task types",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().task_type_name",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "OnPremSqlServerToDeltaTable",
										"activities": [
											{
												"name": "onn_task_CopyOnpremToDeltaLake_group3",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "onn_task_GetConnectionStringSecret_group3",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 3,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [
													{
														"name": "batch_task_id",
														"value": "@string(item().batch_task_id)"
													},
													{
														"name": "destination_table",
														"value": "@{split(activity('onn_task_GetConnectionStringSecret_group3').output.firstRow.output_object,'.')[0]}.@{split(activity('onn_task_GetConnectionStringSecret_group3').output.firstRow.output_object,'.')[1]}"
													}
												],
												"typeProperties": {
													"source": {
														"type": "SqlServerSource",
														"additionalColumns": [
															{
																"name": "lakeCreatedBatchID",
																"value": {
																	"value": "@pipeline().parameters.batch_id",
																	"type": "Expression"
																}
															}
														],
														"sqlReaderQuery": {
															"value": "@{activity('onn_task_GetConnectionStringSecret_group3').output.firstRow.sql_query}",
															"type": "Expression"
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													},
													"sink": {
														"type": "AzureDatabricksDeltaLakeSink",
														"preCopyScript": {
															"value": "Truncate table @{activity('onn_task_GetConnectionStringSecret_group3').output.firstRow.output_object}",
															"type": "Expression"
														},
														"importSettings": {
															"type": "AzureDatabricksDeltaLakeImportCommand"
														}
													},
													"enableStaging": true,
													"enableSkipIncompatibleRow": false
												}
											},
											{
												"name": "onn_task_GetConnectionStringSecret_group3",
												"type": "Lookup",
												"dependsOn": [
													{
														"activity": "onn_task_log_task_start_copyOnPremToDeltaLakeend_group3",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AzureSqlSource",
														"sqlReaderStoredProcedureName": "[config].[usp_get_object_connectionStringDetails]",
														"storedProcedureParameters": {
															"batch_task_id": {
																"type": "Int32",
																"value": {
																	"value": "@item().batch_task_id",
																	"type": "Expression"
																}
															}
														},
														"queryTimeout": "02:00:00",
														"partitionOption": "None"
													}
												}
											},
											{
												"name": "onn_task_log_task_copyOnPremToDeltaLakeend_group3",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "onn_task_CopyOnpremToDeltaLake_group3",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[audit].[usp_log_sql_task_end]",
													"storedProcedureParameters": {
														"batch_task_id": {
															"value": {
																"value": "@item().batch_task_id",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"batch_task_reject_rows": {
															"value": {
																"value": "@sub(activity('onn_task_CopyOnpremToDeltaLake_group3').output.rowsRead,activity('onn_task_CopyOnpremToDeltaLake_group3').output.rowsCopied)",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"batch_task_result": {
															"value": {
																"value": "@activity('onn_task_CopyOnpremToDeltaLake_group3').executionDetails",
																"type": "Expression"
															},
															"type": "String"
														},
														"batch_task_result_location": {
															"value": null,
															"type": "String"
														},
														"batch_task_rows_loaded": {
															"value": {
																"value": "@activity('onn_task_CopyOnpremToDeltaLake_group3').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"batch_task_source_rows": {
															"value": {
																"value": "@activity('onn_task_CopyOnpremToDeltaLake_group3').output.rowsRead",
																"type": "Expression"
															},
															"type": "Int64"
														},
														"batch_task_status": {
															"value": "completed",
															"type": "String"
														},
														"lake_created_date_time": {
															"value": {
																"value": "@activity('onn_task_GetConnectionStringSecret_group3').output.firstRow.lake_created_date_time",
																"type": "Expression"
															},
															"type": "DateTime"
														}
													}
												}
											},
											{
												"name": "onn_task_log_CopyOnPremToDeltaLake_error_group3",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "onn_task_CopyOnpremToDeltaLake_group3",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[audit].[usp_log_error]",
													"storedProcedureParameters": {
														"activity_name": {
															"value": "onn_task_CopyOnpremToDeltaLake_group1",
															"type": "String"
														},
														"adf_pipeline_name": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"batch_id": {
															"value": {
																"value": "@pipeline().parameters.batch_id",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"batch_task_id": {
															"value": {
																"value": "@item().batch_task_id",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"cluster_id": {
															"value": {
																"value": "@activity('onn_task_GetConnectionStringSecret_group3').output.firstRow.cluster_id",
																"type": "Expression"
															},
															"type": "String"
														},
														"error_message": {
															"value": {
																"value": "@activity('onn_task_CopyOnpremToDeltaLake_group3').output.errors[0].Message",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												}
											},
											{
												"name": "onn_task_log_task_start_copyOnPremToDeltaLakeend_group3",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[audit].[usp_log_task_start]",
													"storedProcedureParameters": {
														"adf_pipeline_run_id": {
															"value": {
																"value": "@pipeline().RunId",
																"type": "Expression"
															},
															"type": "Guid"
														},
														"batch_task_id": {
															"value": {
																"value": "@item().batch_task_id",
																"type": "Expression"
															},
															"type": "Int32"
														}
													}
												}
											}
										]
									},
									{
										"value": "MDSSqlServerToDeltaTable",
										"activities": [
											{
												"name": "onn_task_execute_mdsload_group3",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"waitOnCompletion": true,
													"parameters": {
														"batch_task_id": {
															"value": "@item().batch_task_id",
															"type": "Expression"
														},
														"batch_id": {
															"value": "@pipeline().parameters.batch_id",
															"type": "Expression"
														},
														"key_vault": {
															"value": "@pipeline().parameters.key_vault",
															"type": "Expression"
														},
														"resource_id": {
															"value": "@item().resource_id",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "onn_task_dbnotebook_group3",
										"type": "DatabricksNotebook",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 3,
											"retryIntervalInSeconds": 60,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [
											{
												"name": "batch_task_id",
												"value": "@string(item().batch_task_id)"
											},
											{
												"name": "activity_name",
												"value": "@item().activity_name"
											}
										],
										"typeProperties": {
											"notebookPath": {
												"value": "@concat(item().activity_location,item().activity_name)",
												"type": "Expression"
											},
											"baseParameters": {
												"adfPipelineName": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"batchId": {
													"value": "@string(pipeline().parameters.batch_id)",
													"type": "Expression"
												},
												"batchTaskId": {
													"value": "@string(item().batch_task_id)",
													"type": "Expression"
												},
												"clusterId": {
													"value": "@item().cluster_id",
													"type": "Expression"
												},
												"notebookName": {
													"value": "@item().activity_name",
													"type": "Expression"
												},
												"sourceId": {
													"value": "@string(item().source_id)",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "onn_master_log_foreachtask_progress_group1_copy1",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "onn_task_dbnotebook_group3",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[audit].[usp_log_adf_pipeline_progress]",
											"storedProcedureParameters": {
												"activity_execution_duration": {
													"value": {
														"value": "@activity('onn_task_dbnotebook_group3').output.executionDuration",
														"type": "Expression"
													},
													"type": "String"
												},
												"activity_name": {
													"value": "onn_task_dbnotebook_group3",
													"type": "String"
												},
												"activity_output": {
													"value": {
														"value": "@activity('onn_task_dbnotebook_group3').output.runPageUrl",
														"type": "Expression"
													},
													"type": "String"
												},
												"adf_pipeline_execution_id": {
													"value": {
														"value": "@activity('onn_task_log_execution_start').output.firstRow.pipeline_execution_id",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"batch_id": {
													"value": {
														"value": "@int(variables('batch_id'))",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"pipeline_progress_message": {
													"value": "Succeeded",
													"type": "String"
												}
											}
										}
									},
									{
										"name": "onn_task_grp3_foreach_phase_source_log_error_copy1",
										"description": "On failure, logs to error log table and marks the corresponding task as failed",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "onn_task_dbnotebook_group3",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[audit].[usp_log_error]",
											"storedProcedureParameters": {
												"adf_pipeline_name": {
													"value": {
														"value": "@pipeline().Pipeline",
														"type": "Expression"
													},
													"type": "String"
												},
												"batch_id": {
													"value": {
														"value": "@int(variables('batch_id'))",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"batch_task_id": {
													"value": {
														"value": "int(item().batch_task_id)",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"cluster_id": {
													"value": {
														"value": "@item().cluster_id",
														"type": "Expression"
													},
													"type": "String"
												},
												"error_message": {
													"value": {
														"value": "@item().error.Message",
														"type": "Expression"
													},
													"type": "String"
												},
												"activity_name": {
													"value": {
														"value": "@item().activity_name",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"batch_id": {
				"type": "int",
				"defaultValue": 396
			},
			"phase_id": {
				"type": "int",
				"defaultValue": 1
			},
			"source_type_id": {
				"type": "int",
				"defaultValue": 4
			},
			"source_type_name": {
				"type": "string",
				"defaultValue": "datasource"
			},
			"source_type_priority": {
				"type": "int",
				"defaultValue": 2
			},
			"task_priority": {
				"type": "int",
				"defaultValue": 1
			},
			"key_vault": {
				"type": "string",
				"defaultValue": "https://lza-da-kv-001-d.vault.azure.net/"
			}
		},
		"variables": {
			"batch_id": {
				"type": "String",
				"defaultValue": "-999"
			},
			"batch_status": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Edm/master/task"
		},
		"annotations": [],
		"lastPublishTime": "2024-12-16T12:15:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}